body {
    margin: 60px auto;
    width: 70%;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

a.active, a {
    text-decoration: underline;
    color: rgb(66, 134, 244);
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
}

footer a {
    color: #333;
}

ul.posts { 
    margin: 20px auto 20px; 
    padding: 0px;
    font-size: 1.25em;
}

ul.posts li {
    list-style: none;
    margin: .1em 0em 0em 0em;
}

ul.posts a {
	color: rgb(66, 134, 244);
}

/*  ****************** */
/*  BLOG POST - TABLES */
/*  ****************** */

/* background on table cols */
.post td:nth-child(even) {
    background: #ccebff;
}

/* black border inside table */
.post th, .post td {
    border-bottom: 1px solid black;
}

.post table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
